<div class="container-fluid">
  <h1>Icons</h1>
  <p class="desc">Fort Awesome icons</p>
  <div class="row icons">
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'address-book']"></fa-icon>
      <span class="icon-name">Address book</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'address-card']"></fa-icon>
      <span class="icon-name">Address card</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'adjust']"></fa-icon>
      <span class="icon-name">Adjust</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'air-freshener']"></fa-icon>
      <span class="icon-name">Air freshener</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'align-center']"></fa-icon>
      <span class="icon-name">Align center</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'align-justify']"></fa-icon>
      <span class="icon-name">Align justify</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'align-left']"></fa-icon>
      <span class="icon-name">Align left</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'align-right']"></fa-icon>
      <span class="icon-name">Align right</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'allergies']"></fa-icon>
      <span class="icon-name">Align right</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'ambulance']"></fa-icon>
      <span class="icon-name">Align right</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'american-sign-language-interpreting']"></fa-icon>
      <span class="icon-name">Align right</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'anchor']"></fa-icon>
      <span class="icon-name">Anchor</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'angle-double-down']"></fa-icon>
      <span class="icon-name">Angle double down</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'angle-double-left']"></fa-icon>
      <span class="icon-name">Angle double left</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon>
      <span class="icon-name">Angle double right</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'angle-double-up']"></fa-icon>
      <span class="icon-name">Angle double up</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'angle-down']"></fa-icon>
      <span class="icon-name">Angle down</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'angle-left']"></fa-icon>
      <span class="icon-name">Angle left</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
      <span class="icon-name">Angle right</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'angle-up']"></fa-icon>
      <span class="icon-name">Angle up</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'angry']"></fa-icon>
      <span class="icon-name">Angry</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'apple-alt']"></fa-icon>
      <span class="icon-name">Apple alt</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'archive']"></fa-icon>
      <span class="icon-name">Archive</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'archway']"></fa-icon>
      <span class="icon-name">Archway</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'arrow-alt-circle-down']"></fa-icon>
      <span class="icon-name">Arrow alt circle down</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'arrow-alt-circle-left']"></fa-icon>
      <span class="icon-name">Arrow alt circle left</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'arrow-alt-circle-right']"></fa-icon>
      <span class="icon-name">Arrow alt circle right</span>
    </div>
    <div class="icon col-sm-4 col-md-3">
      <fa-icon [icon]="['fas', 'arrow-alt-circle-up']"></fa-icon>
      <span class="icon-name">Arrow alt circle up</span>
    </div>
  </div>
</div>
