<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <app-widget
        [title]="'Alert Messages'"
        [description]="'Description'">
        <div class="items">
          <app-alert
            [alertStyle]="'fill'"
            [alertType]="'success'"
            [message]="'This is a success alert'">
          </app-alert>
          <app-alert
            [alertStyle]="'fill'"
            [alertType]="'info'"
            [message]="'This is an info alert'">
          </app-alert>
          <app-alert
            [alertStyle]="'fill'"
            [alertType]="'warning'"
            [message]="'This is a warning alert'">
          </app-alert>
          <app-alert
            [alertStyle]="'fill'"
            [alertType]="'danger'"
            [message]="'This is a danger alert'">
          </app-alert>
          <app-alert
            [alertStyle]="'fill'"
            [alertType]="'primary'"
            [message]="'This is a primary alert'">
          </app-alert>
          <app-alert
            [alertStyle]="'fill'"
            [alertType]="'muted'"
            [message]="'This is a muted alert'">
          </app-alert>
        </div>
      </app-widget>
    </div>

    <div class="col-lg-6">
      <app-widget
        [title]="'Alert Messages'"
        [description]="'Description'">
        <div class="items">
          <app-alert
            [alertStyle]="'outline'"
            [alertType]="'success'"
            [message]="'This is a success alert'">
          </app-alert>
          <app-alert
            [alertStyle]="'outline'"
            [alertType]="'info'"
            [message]="'This is an info alert'">
          </app-alert>
          <app-alert
            [alertStyle]="'outline'"
            [alertType]="'warning'"
            [message]="'This is a warning alert'">
          </app-alert>
          <app-alert
            [alertStyle]="'outline'"
            [alertType]="'danger'"
            [message]="'This is a danger alert'">
          </app-alert>
          <app-alert
            [alertStyle]="'outline'"
            [alertType]="'primary'"
            [message]="'This is a primary alert'">
          </app-alert>
          <app-alert
            [alertStyle]="'outline'"
            [alertType]="'muted'"
            [message]="'This is a muted alert'">
          </app-alert>
        </div>
      </app-widget>
    </div>
  </div>
</div>



