* {
  outline: none;
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
}

h1 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  border: none;
}

ul {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}
