@import "../../../../node_modules/bootstrap/scss/bootstrap-grid";

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 3;
  background-color: rgba(55, 55, 55, 0.5);
  display: flex;
  padding: 3rem 0;

  &.center {
    align-items: center;
  }

  &.top {
    align-items: flex-start;
  }


  .modal {
    max-width: 500px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 3px;
    padding: 3rem;
    display: flex;

    header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;
      padding: 0 0 1rem;

      .icon {
        font-size: 2rem;
      }

      .title {
        font-size: 1.5rem;
      }
    }

    .modal-body {
      flex-grow: 1;
      font-size: 1.5rem;
      padding: 1rem 0;
    }

    .modal-footer {
      display: flex;
      justify-content: flex-end;
    }

  }
}


