<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <app-widget
        [title]="'Center modal'"
        [description]="'Open modal center position'">

        <button (click)="openPopup('center')"
                style="width: 100px; padding: 1rem 0">
          Launch
        </button>


        <app-popup [popupPosition]="'center'">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
          of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum.
        </app-popup>


      </app-widget>
    </div>

    <div class="col-lg-6">
      <app-widget
        [title]="'Top modal'"
        [description]="'Open modal top position'">


        <button (click)="openPopup('top')"
                style="width: 100px; padding: 1rem 0">
          Launch
        </button>


        <app-popup [popupPosition]="'top'">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
          of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum.
        </app-popup>


      </app-widget>
    </div>
    <div class="col-lg-6">
      <app-widget
        [title]="'Bottom modal'"
        [description]="'Open modal bottom position'">


        <button (click)="openPopup('bottom')"
                style="width: 100px; padding: 1rem 0">
          Launch
        </button>


        <app-popup [popupPosition]="'bottom'">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
          of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum.
        </app-popup>


      </app-widget>
    </div>
  </div>
</div>



