<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <app-widget
        [title]="'Basic Progress Bar'"
        [description]="'Add any of color classes (.primary, .danger, .warning, .info, .success, .muted) to .progress-bar to apply a background color'">

        <button (click)="selectNotification(notificationsTypes.Center); openModal()"
                style="width: 100px; padding: 1rem 0">Launch
        </button>

        <button (click)="selectNotification(notificationsTypes.Top); openModal()" style="width: 100px; padding: 1rem 0">
          Launch
        </button>


        <div class="modal-wrapper" [ngClass]="modalPosition()" [@popupDisplay]="modal">
          <div class="modal">
            <header>
              <p class="title">Modal Title</p>
              <div class="icon">
                <fa-icon
                  [icon]="'times'">
                </fa-icon>
              </div>
            </header>
            <div class="modal-body">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
              like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="modal-footer">
              <button (click)="closeModal()">Close</button>
            </div>
          </div>
        </div>


      </app-widget>
    </div>
  </div>
</div>



