<div class="container-fluid">
  <div class="table-wrapper table-striped responsive-table">
    <table>
      <thead>
      <tr>
        <th *ngFor="let key of keysOfCoins" (click)="premierLeagueSort(key)">
          {{ key }}
          <fa-icon
            *ngIf="this.clickedCell === key && this.sorting === 'asc'"
            [icon]="'angle-down'">
          </fa-icon>
          <fa-icon
            *ngIf="this.clickedCell === key && this.sorting === 'desc'"
            [icon]="'angle-up'">
          </fa-icon>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of premierLeague">
        <td *ngFor="let key of keysOfCoins" [attr.data-title]="key">
          {{ item[key] }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="table-wrapper table-striped fixed-rows-table" style="margin: 20px 0 0">
    <div class="coin-name">
      <table>
        <thead>
        <ng-template ngFor let-key let-i="index" [ngForOf]="keysOfCryptocurrency">
          <tr>
            <th *ngIf="i < 1" (click)="cryptocurrencySort(key)">
              {{ key }}
              <fa-icon
                *ngIf="this.clickedCell === key && this.sorting === 'asc'"
                [icon]="'angle-down'">
              </fa-icon>
              <fa-icon
                *ngIf="this.clickedCell === key && this.sorting === 'desc'"
                [icon]="'angle-up'">
              </fa-icon>
            </th>
          </tr>
        </ng-template>
        </thead>
        <tbody>
        <tr *ngFor="let item of coins">
          <ng-template ngFor let-key let-i="index" [ngForOf]="keysOfCryptocurrency">
            <td *ngIf="i < 1">
              {{ item[key] }}
            </td>
          </ng-template>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="coin-data">
      <table>
        <thead>
        <tr>
          <ng-template ngFor let-key let-i="index" [ngForOf]="keysOfCryptocurrency">
            <th *ngIf="i !== 0" (click)="cryptocurrencySort(key)">
              {{ key }}
              <fa-icon
                *ngIf="this.clickedCell === key && this.sorting === 'asc'"
                [icon]="'angle-down'">
              </fa-icon>
              <fa-icon
                *ngIf="this.clickedCell === key && this.sorting === 'desc'"
                [icon]="'angle-up'">
              </fa-icon>
            </th>
          </ng-template>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of coins">
          <ng-template ngFor let-key let-i="index" [ngForOf]="keysOfCryptocurrency">
            <td *ngIf="i !== 0">
              {{ item[key] }}
            </td>
          </ng-template>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="table-wrapper table-striped scrollable-table" style="margin: 20px 0 0">
    <table>
      <thead>
      <tr>
        <th class="checkbox-cell">
          <label class="checkbox">
            <input type="checkbox" (click)="allCheckboxes()"/>
            <span class="tick"></span>
          </label>
        </th>
        <th *ngFor="let key of keys" (click)="tasksSort(key)">
          {{ key }}
          <fa-icon
            *ngIf="this.clickedCell === key && this.sorting === 'asc'"
            [icon]="'angle-down'">
          </fa-icon>
          <fa-icon
            *ngIf="this.clickedCell === key && this.sorting === 'desc'"
            [icon]="'angle-up'">
          </fa-icon>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let record of records">
        <td class="checkbox-cell">
          <label class="checkbox">
            <input type="checkbox" [checked]="active"/>
            <span class="tick"></span>
          </label>
        </td>
        <td *ngFor="let key of keys" [attr.data-title]="key">
          <div class="progress-bar" *ngIf="key == 'Status'; else elseBlock">
                    <span [style.width.%]="record[key]['Value']" [class]="record[key]['Status name']">
                    </span>
          </div>
          <ng-template #elseBlock>{{ record[key] }}</ng-template>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
