<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <app-widget
      [title]="'Pie Chart'">
        <canvas id="pie">{{pie}}</canvas>
      </app-widget>
    </div>
    <div class="col-lg-6">
      <app-widget
        [title]="'Pie Chart'">
        <canvas id="polar">{{polar}}</canvas>
      </app-widget>
    </div>
    <div class="col-lg-6">
      <app-widget
        [title]="'Donut Chart'">
        <canvas id="donut">{{donut}}</canvas>
      </app-widget>
    </div>
    <div class="col-lg-6">
      <app-widget
        [title]="'Line Chart'">
        <canvas id="line">{{line}}</canvas>
      </app-widget>
    </div>
    <div class="col-lg-6">
      <app-widget
        [title]="'Bar Chart'">
        <canvas id="bar">{{bar}}</canvas>
      </app-widget>
    </div>
    <div class="col-lg-6">
      <app-widget
        [title]="'Horizontal Bar Chart'">
        <canvas id="horizontalBar">{{horizontalBar}}</canvas>
      </app-widget>
    </div>
    <div class="col-lg-6">
      <app-widget
        [title]="'Horizontal Bar Chart'">
        <canvas id="radar">{{radar}}</canvas>
      </app-widget>
    </div>
  </div>
</div>
