@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../styles/variables";
@import "../../../styles/btns";

.slider-box {
  position: relative;
  .siema {
    margin: 5% auto;
  }
  &-title {
    color: $gallery-title;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 5rem;
  }
  .left,
  .right {
    height: 40px;
    width: 40px;
    background-color: $shop-details-arrow-bg;
    color: $shop-details-arrow;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: right 0.2s, left 0.2s, opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }

  .left {
    left: 25px;
  }

  .right {
    right: -15px;
  }

  .item {
    margin: 0 0.5rem;

    img {
      width: 100%;
    }
  }
}
